<!--The content below is only a placeholder and can be replaced.-->
<div class="row" style="margin:0px">
    <a routerLink="/home-page" routerLinkActive="active" class="btn btn-default">Home</a>
    <a routerLink="/us-map-flights" routerLinkActive="active" class="btn btn-default">US Flights</a>
    <a href="./project.html" class="btn btn-default">Airport Connectivity</a>
    <a routerLink="/carrier-stats" routerLinkActive="active" class="btn btn-default">Carrier Delay</a>
    <!-- <a routerLink="/bipartite" routerLinkActive="active" class="btn btn-default">Changed Bipartite</a> -->
    <a href="./bipartite.html" class="btn btn-default">Flight Performance</a>
    <a routerLink="/publications" roterLinkActive="active" class="btn btn-default">Publications</a>
</div>
<!-- <app-us-map-flights></app-us-map-flights>
<app-carrier-stats></app-carrier-stats> -->
<!-- <app-bipartite></app-bipartite> -->
<router-outlet></router-outlet>