<hr>
<div id="particles-js" style="height:100%;width:100%; background-color:dodgerblue; position: relative;" ></div>
<p style="color:white;position:absolute;z-index: 10;top:25%; left:20%; border-radius: 20px" >
   <span style="font-size:40px; font-weight:bold">Do you hate when your flight gets delayed?</span><br><span style="font-size:40px;">We too!</span><br/><span style="font-size:20px">Welcome to one stop destination to avoid flight delays</span>
</p>
<script src="./node_modules/particlesjs/dist/particles.js"></script>
<!-- <script src="src/app.js"></script> -->
